@tailwind base;
@tailwind components;
@tailwind utilities;

.item-selected {
    color: #636AE8FF;
    font-weight: 700;
  }
  
  .item-selected::after {
    content: '';
    position: absolute;
    right: 0;
    top: 65%;
    transform: translateY(-50%);
    width: 4px;
    height: 5vh;
    background-color: #636AE8FF;
    border-radius: 8px;
  }