
.centered-icon-container {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 20px;
}

.centered-buttons-container {
  position: absolute;
  top: 88px;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidepanel {
  background-color: #FFFFFF;
  height: 100vh;
  width: 17vw; 
  position: fixed; 
  left: 5vw;
  top: 0;
  z-index: 100; 
}
/*fixed left-[5vw] top-0 w-[17vw] h-screen bg-white z-[100]*/

.Sub-panel{
  display: flex;
  justify-content: left;
  font: black bold;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
}
/*flex justify-left text-black-bold items-center pt-[20px] pl-[20px] h-[7vh]*/
.Second-sub-panel-Heading{
  padding-left: 10px;
   font-size: 18px;
  font-weight:700;
   font-family: 'Archivo';
  color: #171A1FFF;
}
/*pl-2 text-[18px] font-semibold text-[#171A1FFF]*/

.Second-sub-panel-Body{
  padding-left: 10px;
   font-size: 14px;
   font-family: 'Inter';
   height: 25vh;
    display: flex;
    flex-direction: column ;
    justify-content: left
}
/*pl-[10px] font-[14px] font-family-inter h-[25vh] flex flex-col justify-left*/

.item {
  position: relative;
  cursor: pointer;
  color: #565E6CFF;
  font-weight: 400;
}

.item-selected {
  color: #636AE8FF;
  font-weight: 700;
}

.item-selected::after {
  content: '';
  position: absolute;
  right: 0;
  top: 65%; /* Start from the middle */
  transform: translateY(-50%); /* Center vertically */
  width: 4px; /* Adjust width as needed */
  height: 5vh;
  background-color: #636AE8FF; /* Color matching selected label */
  border-radius: 8px; /* Rounded top and bottom */
}

.Sub-panel-text{
  padding-left: 10px;
}



